.modal-body {
    word-break: break-all;
}

div.row {
  margin-bottom: 30px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

#wallet-image {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

body {
  background: #333333;
}

#actions button {
  margin-bottom: 5px;
}
