body {
  background: #333333;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

div.row {
  margin-bottom: 30px;
}

a.disabled {
  color: #6c757d;
  pointer-events: none;
}

.modal-body {
    word-break: break-all;
}

#wallet-image {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

#actions button {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  #wallet-image {
    margin-top: 30px;
  }
}
